<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Seleccionar Menus</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Menu</ion-label>
          <ion-select
            placeholder="Seleccione un menú"
            [(ngModel)]="menuSeleccionado">

            <ion-select-option
              *ngFor="let menu of listaMenus"
              [value]="menu">
              {{ menu.nombreMenu + ' - ' + menu.precioMenu }}
            </ion-select-option>

          </ion-select>
        </ion-item>
        <ion-button color="success" size="full" (click)="agregar()">Agregar</ion-button>
      </ion-card-content>
      <ion-list *ngIf="menusAgregados.length > 0">
        <ion-item *ngFor="let menu of menusAgregados">
          {{ menu.nombreMenu }}
        </ion-item>
      </ion-list>
      <ion-button color="success" size="full" (click)="reservar()">Reservar</ion-button>
      <ion-button color="success" fill="clear" size="full" (click)="cancelar()">Cancelar</ion-button>
    </ion-card>
  </div>
</ion-content>